section {
    padding-top: 100px;
}

.navbar {
    background-color: white;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
}

.home h1 {
    font-size: 64px;
}

.home h3 {
    font-size: 48px;
}

.bi {
    animation: bounce 3s infinite linear;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(7px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-7px);
    }
    100% {
        transform: translateY(0);
    }
}